<div class="flex">
  <aside class="p-2">
    <nav>
      <ul>
        <li>
          <a href="/"
            ><mat-icon style="font-size: 4rem; width: 4rem; height: 4rem"
              >home</mat-icon
            ></a
          >
        </li>
        <li>
          <a href="/exercises"
            ><mat-icon style="font-size: 4rem; width: 4rem; height: 4rem"
              >lists</mat-icon
            ></a
          >
        </li>
        <li>
          <a href="/exercises/new"
            ><mat-icon style="font-size: 4rem; width: 4rem; height: 4rem"
              >playlist_add</mat-icon
            ></a
          >
        </li>
        <li>
          <a href="/test/create"
            ><mat-icon style="font-size: 4rem; width: 4rem; height: 4rem"
              >construction</mat-icon
            ></a
          >
        </li>
        <li>
          <a href="/tutorial"
            ><mat-icon style="font-size: 4rem; width: 4rem; height: 4rem"
              >help</mat-icon
            ></a
          >
        </li>
      </ul>
    </nav>
  </aside>
  <main class="flex-1">
    <router-outlet />
  </main>
</div>
