<div class="flex">
  <aside class="p-2">
    <nav>
      <ul>
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/exercises">lists</a>
        </li>
        <li>
          <a href="/exercises/new">playlist_add</a>
        </li>
        <li>
          <a href="/test/create">construction</a>
        </li>
        <li>
          <a href="/tutorial">help</a>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="flex-1">
    <router-outlet />
  </main>
</div>
