<div class="flex justify-center p-5">
  @if (exercises !== undefined) {
    <table>
      <thead>
        <tr>
          <th class="pl-5 text-left" scope="col">ID</th>
          <th class="pl-5 text-left" scope="col">Name</th>
          <th class="pl-5 text-left" scope="col">Last Modified</th>
        </tr>
      </thead>
      <tbody>
        @for (exercise of this.exercises; track exercise.id) {
          <tr>
            <td class="pl-5 text-left">
              <a href="/exercises/edit/{{ exercise.id }}">{{ exercise.id }}</a>
            </td>
            <td class="pl-5 text-left">
              <a href="/exercises/edit/{{ exercise.id }}">{{
                exercise.name
              }}</a>
            </td>
            <td class="pl-5 text-left">
              <a href="/exercises/edit/{{ exercise.id }}">{{
                exercise.lastModifiedDate
              }}</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>
